## Categories

There are a few product categories that are critical for success here; each one
is intended to represent what you might find as an entire product out in the
market. We want our single application to solve the important problems solved by 
other tools in this space - if you see an opportunity where we can deliver
a specific solution that would be enough for you to switch over to GitLab, 
please reach out to the PM for this stage and let us know.

Each of these categories has a designated level of maturity; you can read more about our 
[category maturity model](https://about.gitlab.com/handbook/product/categories/maturity/) 
to help you decide which categories you want to start using and when.

<% data.categories.each do |categoryKey, category| %>
  <% next unless (category.stage == stageKey) %>
  <% l = [] %>
  <% l << "[Learn more](#{category.marketing_page})" if category.marketing_page %>
  <% l << "[Documentation](#{category.documentation})" if category.documentation %>
  <% l << "[Vision](#{category.vision})" if category.vision %>
##### <%= category.name %>
<% maturity = "This category is planned, but not yet available." %>
<% if category.available != nil %>
  <% maturity = "This category is at the \"minimal\" level of maturity." if category.available.past? %>
<% end %>
<% if category.viable != nil %>
  <% maturity = "This category is at the \"viable\" level of maturity." if category.viable.past? %>
<% end %>
<% if category.complete != nil %>
  <% maturity = "This category is at the \"complete\" level of maturity." if category.complete.past? %>
<% end %>
<% if category.lovable != nil %>
  <% maturity = "This category is at the \"lovable\" level of maturity." if category.lovable.past? %>
<% end %>
<%= category.description + " " + maturity + "  " unless category.description.blank? %>
<%= maturity + "  " if category.description.blank? %>
<%= l.join(' • ') unless l.empty? %>

<% end %>
